body {
    font-family: 'Outfit', sans-serif;
}

/*Navbar active */
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #F28663;
    font-weight: bolder;
}


.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link {
    color: #8F5441;
    font-weight: bold;
}

.bg-light {
    background-color: #F5EBE4 !important;
}

.navbar-collapse {
    justify-content: end;
    width: 100px;
}

.nav-link:hover {
    color: #F28663 !important;
    background-color: #1a3157;
    border-radius: 5px;
}




.headerImg {
    height: 300px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.btn-info {
    background-color: #2D4262;
    color: white;
    border-color: #2D4262;
}

.btn-info:hover {
    background-color: #1a3157;
    color: white;
    box-shadow: 5px 3px 10px 0px #000000;
    border-color: #1a3157;
}

.btn-secondary {
    background-color: #D09683;
    color: white;
    border-color: #D09683;
}

.btn-secondary:hover {
    background-color: #D09683;
    color: white;
    border-color: #D09683;
    box-shadow: 5px 3px 10px 0px #000000;
}


.header-text {
    color: white;
    background-color: #2D4262;
    font-weight: normal;
    padding: 50px;
}

.header-text-left {
    background-color: #D09683;
    height: 100%;
}

.header-text-right {
    background-color: #D09683;
    height: 100%;
}

/* Container holding the image and the text */
.containerHeader {
    position: relative;
    text-align: center;
    color: #F5BE3B;
}

.containerHeader img {}


/* Centered text */
.centered {
    font-size: 3rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seeMoreBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    transform: translate(-50%, -50%);
}

h2 {
    font-weight: normal;
    color: #000000;
}

h3 {
    font-weight: lighter;
    color: #ffffff;
    background-color: #D09683;
    margin-bottom: 0;
}

.h3_section {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.about {
    max-width: 600px;
}

.whyUsSection {
    margin-top: 0;
    background-color: #F5EBE4;
    color: #8F5441;
}


.bi {
    font-size: 3rem;
    color: #D09683;
}

/*.bi:hover {*/
/*    text-shadow: 0 0 10px black;*/
/*}*/

.bi-star-fill {
    font-size: 1.5rem;
    color: #D0DC46;
}

.reviewsImg {
    width: 80% !important;
    height: 50% !important;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    border: none;
}
h4 {
    font-weight: normal;
    color: #8F5441;
}

hr {
    border: 3px solid #8F5441;
    width: 50%;
    margin: 0 auto 3rem;

}

/*Footer start*/
footer {
    background-color: #2D4262;
    color: #ffffff;
    padding: 4rem;
}

.footer_grid {
    display: flex;
    flex-direction: column;

}

footer a:link {
    color: #F5EBE4;
    text-decoration: none;
    font-weight: lighter;
}

/*Subscribe box*/
.content {
    width: 300px;
    height: 40px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .2);
    border-radius: 60px;
    overflow: hidden;
}

.subscription {
    position: relative;
    width: 100%;
    height: 100%;
}

.subscription .add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.subscription .submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    background: #4ABEBB;
    color: #FFFFFF;
    transition: width .35s ease-in-out,
        background .35s ease-in-out;
}

.subscription.done .submit-email {
    width: calc(100% - 2px);
    background: #C0E02E;
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
        opacity .35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
}

.subscription .submit-email .after-submit {
    transition-delay: .35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
}

/*Subscribe box*/

/*Footer end*/

/*About us*/


.about_us {
    background-image: url("../assets/images/about2.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
}


.about_us h2 {
    font-size: 5rem;
    /*padding-top: 16rem;*/
    padding-bottom: 1rem;
    color: white;
    font-weight: normal;
}

.about_us h4 {
    font-weight: lighter;
    font-size: 2.5rem;
    color: #ffffff;
}

.team_photo {
    /*border-radius: 50%;*/
}
/*About us*/

/*Our principales*/
.our_principales h2 {
    padding: 4rem 3rem 1rem 3rem;
    font-size: 3rem;
    font-weight: lighter;
}
.our_principales p {
    padding: 1rem 3rem 1rem 3rem;
    font-weight: normal;
    font-size: 1.5rem;

}
/*Our principales*/

/*Eco icons*/
.fa-leaf {
    font-size: 3rem;
    color: #2D4262;
    transition: transform 1.5s ease;
}
.fa-leaf:hover {
    transform: scale(1.3);
}

.fa-recycle{
    font-size: 3rem;
    color: #2D4262;
    transition: transform 1.5s ease;
}
.fa-recycle:hover {
    transform: scale(1.3);
}
.fa-dog {
    font-size: 3rem;
    color: #2D4262;
    transition: transform 1.5s ease;
}
.fa-dog:hover {
    transform: scale(1.3);
}

.fa-spa {
    font-size: 3rem;
    color: #2D4262;
    transition: transform 1.5s ease;
}
.fa-spa:hover {
    transform: scale(1.3);
}

.fa-circle-check {
    color: #2D4262;
    transition: transform 1.5s ease;
}

.fa-circle-check:hover {
    transform: scale(1.3);
}
.eco_icons {
    margin-top:3rem;
    margin-bottom: 3rem;
}

.eco_icons span {
    padding-left: 1rem;
}

.meet_team {
    font-size: 3rem;
    font-weight: lighter;
    padding: 2rem;
}
/*Eco icons*/

/*Blog*/
.blog {
    background-image: url("../assets/images/blog.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.blog h2 {
    font-size: 5.5rem;
    padding-bottom: 1rem;
    color: white;
    font-weight: normal;
}

.blog_content {
    padding-bottom: 4rem;
}

.offers-row {
    margin: 1rem 0 1rem 0;
}
/*Blog*/

/*Contact*/
.contact {
    background-image: url("../assets/images/contact.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.contact h2 {
    font-size: 5.5rem;
    padding-bottom: 1rem;
    color: rgba(10, 1, 1, 0.82);
    font-weight: normal;
}

.contact_content {
    margin-top: 3rem;
}
/*Contact*/

/*HOME*/
.home {
    background-image: url("../assets/images/home.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.home h1 {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.header-text-home  h2{
    font-weight: lighter;
    font-size: 2.5rem ;
    color: white;
}

.cart {
    background-image: url("../assets/images/cart.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.cart h2 {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.basket-content {
    padding-top: 4rem;
}
/*HOME*/

/*CART*/
.shop {
    background-image: url("../assets/images/shop.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
    overflow: visible;
}

.shop h2 {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: normal;
}
/*CART*/

/*Special offer*/
.special-offer {
    background-color: #F5EBE4;
    padding: 3rem;
}


.item span:before {
    font-family: "FontAwesome";
    content: "\f058";
    padding-right: 5px;
    font-style: normal;
    font-size: 3rem;
    color: #2D4262;
}
.special-offer h2 {
    padding-bottom: 2rem;
}
/*Special offer*/

/*Custom page one*/
.custom-page-one {
    background-image: url("../assets/images/offers.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 85vh;
    padding-top: 14rem;
    padding-bottom: 14rem;
    overflow: visible;
}

.custom-page-one h2 {
    font-size: 4.5rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: normal;
}

.custom-page-one h6 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}
/*Custom page one*/

.fragrance-content {
    padding-top: 4rem;
    margin: 0;
    width: 100%;
}

.scents h2 {
    padding-top: 3rem;
    font-size: 3rem;
    color: black;
    font-weight: lighter;
}

.scents h6 {
    padding-top: 1rem;
    font-weight: lighter;
    color: black;
    font-size: 1.1rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .card-img-top {
        width: 100%;
        height: 55vw;
        object-fit: cover;
    }
    .home h1 {
        font-size: 2.5rem;
        font-weight: lighter;
    }
.special-offer-icon {
    display: grid;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    .card-img-top {
        width: 100%;
        height: 35vw;
        object-fit: cover;
    }
    .about_us h2 {
        font-size: 3.5rem;

    }

    .about_us h4 {
        font-size: 1.5rem;
    }

    .blog h2 {
        font-size: 3.5rem;

    }
    .home h1 {
        font-size: 3rem;
        font-weight: lighter;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 35vw;
        object-fit: cover;
    }
    .about_us h2 {
        font-size: 5.5rem;

    }

    .blog h2 {
        font-size: 6.5rem;

    }

    .about_us h4 {
        font-size: 2rem;
    }

    .home h1 {
        font-size: 3.5rem;
        font-weight: lighter;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
    .home h1 {
        font-size: 3.5rem;
        font-weight: lighter;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .home h1 {
        font-size: 4rem;
        font-weight: normal;
    }
}

/* Lukes additions (please move and edit as necessary) */

.shopImg {
    cursor: pointer;
}

.shopLink {
    text-decoration: none;
}

/* The Modal (background) */
.shop-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.shop-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#shopCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.shop-modal-content,
#shopCaption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* The Close Button */
.shop-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.shop-close:hover,
.shop-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.bgCustomBlue {
    color: white;
    background-color: #2D4262;
}

.bgCustomRed {
    background-color: #D09683;
}

/* End of Lukes additions */



